<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: html_head">

</head>

<body>
    <div class="position-relative d-flex p-0" id="top">
        <!-- Spinner Start -->
        <div id="spinner"
            class="show bg-light position-fixed translate-middle w-100 vh-100 top-50 start-50 d-flex align-items-center justify-content-center">
            <div class="spinner-border text-primary" style="width: 3rem; height: 3rem;" role="status">
                <span class="sr-only"></span>
            </div>
        </div>
        <!-- Spinner End -->

        <!-- Sidebar Start -->
        <div th:replace="fragments/header :: sidebar">
            </div>
        <!-- Sidebar End -->

        <!-- Content Start -->

            <!-- Navbar End -->

        <div class="content pb-3" >
          <div th:replace="fragments/header :: navbar">

          </div>
            <!-- Start Content -->
            <div class="container-fluid py-2 px-3 mt-3">
                <div class="card-panel bg-white radius-10">
                       
                    <div class="row g-0"> 
                        <div class="col-xl-9 col-md-8 border-right"> 
                            <div class="p-4">
                                <div class="d-flex flex-wrap justify-content-between align-items-center page-header"> 
                                    <h1 class="h2 mb-2">Dashboard</h1> 

                                </div>
                                <!-- End Page Title -->
                                <div class="row g-3 dashboard_cards"> 
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Total Users</h6>
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">0</h2>

                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 

                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Total Drivers</h6>
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">0</h2>

                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 
                                   
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">Total Rider</h6>
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">0</h2>

                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 
                                    
                                    <div class="col-lg-6 col-md-6 col-sm-12 col-xl-3 mt-3 mt-xl-4 pt-lg-3"> 
                                        <div class="card border-0"> 
                                            <div class="card-body">  
                                                <h6 class="fs-14 text-capitalize">ok</h6>
                                                <div class="d-flex justify-content-between align-items-center mt-3"> 
                                                    <h2 class="mb-0 number-font">0</h2>

                                                </div>
                                            </div>                                            
                                        </div> 
                                    </div> 

                                </div> 
                                <!-- End Dashboard Cards -->


                                <!-- End Total Revenue -->

                                <div class="row">
                                    <div class="col-lg-6 col-md-12 mt-4">
                                        <div class="p-4 grey-light-bg radius-10 h-100">
                                            <div class="d-flex flex-wrap justify-content-between">
                                                <h6 class="f2-14 mb-4">Orders by Location</h6> 
                                            </div>
                                            <div class="graph_canvas">
                                                <img src="" alt="" class="w-100" />
                                            </div>
                                        </div>
                                    </div>
                                    <div class="col-lg-6 col-md-12 mt-4">
                                        <div class="p-4 grey-light-bg radius-10 h-100">
                                            <div class="d-flex flex-wrap justify-content-between">
                                                <h6 class="f2-14 mb-4">Orders by Location</h6> 
                                            </div>
                                            <div class="graph_canvas">
                                                <img src="" alt="" class="w-100" />
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>
                        </div>
                        
                        <div class="col-xl-3 col-md-4">
                            <div class="p-3 listing_ul">
                                <h6 class="h6 mb-4">Notifications</h6>
                                <ul class="list-unstyled ul_list">

                                    <li>
                                        <em><img src="assets/img/icons/notifications/user.svg" alt="" width="13"/></em>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">New driver registered.</h6>
                                            <small class="fs-12">5m ago</small>
                                        </div>
                                    </li>

                                </ul>
                            </div>
                            <!-- End Notification -->
                            <div class="p-3 listing_ul">
                                <h6 class="h6 mb-4">Activities</h6>
                                <ul class="list-unstyled ul_list">
                                    <li>
                                        <figure class="mb-0"><img src="assets/img/avatar1.jpg" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Edited the details of Store 1</h6>
                                            <small class="fs-12">5m ago</small>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="mb-0"><img src="assets/img/avatar.jpg" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">ByeWind</h6>
                                            <small class="fs-12">1:32 AM</small>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="mb-0"><img src="assets/img/avatar.jpg" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Create a profile</h6>
                                            <small class="fs-12">Yesterday 12:39 AM</small>
                                        </div>
                                    </li>
                                    <li>
                                        <figure class="mb-0"><img src="assets/img/avatar.jpg" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Modified A data in her profile</h6>
                                            <small class="fs-12">Last Thursday 3:34 AM</small>
                                        </div>
                                    </li> 
                                    <li>
                                        <figure class="mb-0"><img src="assets/img/avatar.jpg" alt="" width="28"/></figure>
                                        <div class="ul_summary">
                                            <h6 class="fs-14 mb-0">Deleted a profile in Driver’s list</h6>
                                            <small class="fs-12">Aug 11</small>
                                        </div>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Activities -->


                    </div>
                    
    
                </div>
            </div>

        </div>
        <!-- End Content  -->
    </div>

    <!-- JavaScript Libraries -->
    <script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0/dist/js/bootstrap.bundle.min.js"></script>

    <!-- Template Javascript -->
    <script src="assets/js/main.js"></script>
    <script src="assets/js/cookie.js"></script>
     <script>
<!--         var dt = new Date();-->
<!--         document.getElementById('date-time').innerHTML=dt;-->


<!--data = 1;-->
<!--setInterval(()=>{-->
<!--console.log("Hey!!");-->
<!--    let currentDate = new Date();-->
<!--    let cDay = currentDate.getDate() + data;-->
<!--    let cMonth = currentDate.getMonth() + 1;-->
<!--    let cYear = currentDate.getFullYear();-->
<!--    document.querySelector("#date-time").innerHTML = cDay + "/" + cMonth + "/" + cYear;-->
<!--    data = data + 1;-->
<!--}, 1000);-->

        function display_c(){
var refresh=1000; // Refresh rate in milli seconds
mytime=setTimeout('display_ct()',refresh)
}

function display_ct() {
var x = new Date()
document.getElementById('date-time').innerHTML = x;
display_c();
 }
     </script>
</body>

</html>