<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">

<head th:replace="fragments/header :: html_head">

</head>
<body>
    <div class="overflow-hidden front_form">
        <div class="row g-0">
            <div class="d-none d-md-flex col-md-6 login_bg">
                <div class="front_logo">
                    <img src="assets/img/logo.svg" alt="Sbrigit" width="249"/>
                </div>
            </div>
            <div class="col-md-6"> 
                <div class="d-flex flex-column align-items-start justify-content-center px-3 px-md-5 min-vh-100">
                    <div class="ls_form">
                        <div class="d-md-none front_logo">
                            <img src="assets/img/logo.svg" alt="Sbrigit" width="249"/>
                        </div>
                        <form class="w-100" action="dashboard.html"> 
                            <div class="title_group text-left mb-4 pb-3"> 
                                <h1 class="h1 mb-3">Forgot Password</h1>
                                <p>To reset your password, enter your email.</p>
                            </div>

                            <div class="mb-4"> 
                                <div class="position-relative">
                                    <input type="text" class="form-control" placeholder="Enter Username" required />
                                </div>
                            </div>
                            
                            <div class="pt-3">
                                <button class="py-md-3 w-100 btn btn-lg btn-primary" type="submit">
                                    Reset Password 
                                </button>
                            </div>

                            <div class="mt-4 text-center">
                                <span class="already_acc">Already have an account? <a href="index.html">Login</a> back.
                            </div>

                        </form>
                    </div>
                </div>
            </div>            
        </div>
    </div>
    <!--  End Login Page -->
    
</body>

</html>